.scanner8 span {
  color: transparent;
  font-size: 1.4rem;
  position: relative;
  overflow: hidden;
}

.scanner8 span::before {
  content: "Loading.....";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  font-weight: bold;
  border-right: 4px solid #d45d21;
  overflow: hidden;
  color: #d45d21;
  animation: load91371 4s linear infinite;
}

@keyframes load91371 {
  0%,
  10%,
  100% {
    width: 0;
  }

  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    border-right-color: transparent;
  }

  11%,
  21%,
  31%,
  41%,
  51%,
  61%,
  71%,
  81%,
  91% {
    border-right-color: #d45d21;
  }

  60%,
  80% {
    width: 100%;
  }
}
